<nav class="navbar navbar-expand-lg navbar-dark p-3 bg-info" id="headerNav">
  <div class="container-fluid">
    <a class="navbar-brand d-block d-lg-none" href="#">
      <img src="../../assets/fund-accounting.png" height="80" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 active" aria-current="page" routerLink="/users"> <img src="../../assets/add-male-user--v2.png" height="27"> Users</a>
        </li>
        <li class="nav-item d-none d-lg-block">
          <a class="nav-link mx-2" routerLink="/main">
            <img src="../../assets/fund-accounting%20(1).png" height="45" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#"> <img src="../../assets/add-receipt.png" height="27"> Loans</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

